    flag {{model.name}} {
        activated: {{model.activated | lower}}
        action_on_true: { {{model.action_on_true}} 
        }
        action_on_false: { {{model.action_on_false}} 
        }
    }