object {{self.name}} {
    """
        name: {{self.description.name}}
        description: {{self.description.description}}
    """

    contains {
        {% for item in self.contains %}
            {{item.name}}
        {% endfor %}
    }
    pickable: {{str(self.pickable).lower()}}
    {% if self.container %}
    container: self.container.name
    {% endif %}
}