    object {{model.name}} {
        """
            name: {{model.description.name}}
            description: {{model.description.description}}
        """

        contains {
            {% for item in model.contains -%}
                {{item.name}}
            {% endfor %}
        }
        pickable: {{model.pickable | lower}}
        {% if model.container %}
        container: {{model.container.name}}
        {% endif %}
    }